<form action="/user/favourites" method="POST">
  <button
    type="submit"
    class="bg-green-500 p-2 rounded-md text-zinc-900 border-2 border-transparent"
  >
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
